table
{
    border-collapse: collapse;
    width: 300px;
    text-align: center;
}
th,td
{
    border:1px solid black;
    padding: 30px 0px 10px 20px;
    text-align: center;
}
thead
{
background-color: red;
color: white;
text-align: center;
}
